{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


{# <div class="example-wrapper">
    <h1 class="text-center pt-2"> Liste des Contacts</h1> #}
    {# <ul>
        <li>
            {% for contact in contacts %}
            {{contact.nom}} {{contact.prenom}} {{contact.ville}} {{contact.Mail}} -
            {% endfor %}
        </li>
    </ul>
</div>#}
<div class="row">
    {% for contact in contacts %} 
   {#{{dump(contacts)}}#}
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
        {{include ('contact/_ficheContact.html.twig', {'mode':'listeContacts'})}}
        </div>
    {% endfor %}
</div>
{% endblock %}
